body {
  font-family: 'Poppins', sans-serif;
}

/* Example usage for specific elements */
h1 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  transition: padding 0.3s, background-color 0.3s;
  padding: 6px;
  background-color: transparent;

}

.navbar.scrolled {
  padding: 16px;
  background-color: white;
  height: 70px;
  color:black;
  border-bottom: 1px solid #e5e5e5;
}
